.header {
  position: fixed;
  z-index: 999;

  &-aside {
    left: 0;
    top: 0;

    width: 120px;
    height: 100vh;
    border-right: 1px solid $white50;

    &__logo {
      position: relative;
      display: grid;
      place-items: center;
      width: 120px;
      height: 120px;
      border-bottom: 1px solid $white50;
      cursor: pointer;

      &__image {
        filter: invert(1);
      }
    }

    &__toggle {
      position: absolute;
      display: grid;
      place-items: center;
      top: 1px;
      left: 0;
      height: 116px;
      width: 6px;
      background: $black;
      overflow: hidden;
      &--active {
        width: 118px;

        &:hover {
          .header-aside__toggle__icon {
            color: $primary;
          }
        }
      }

      &__icon {
        font-size: 48px;
        color: $white;
        transition: 0.2s color;
      }
    }
  }

  &-nav {
    position: fixed;
    top: 0;
    left: 120px;

    width: calc(100% - 120px);
    height: 0;
    background: $black80;
    color: $white;
    overflow: hidden;
    z-index: 999;

    &__global {
      display: flex;

      &__heading {
        font-size: 40px;
        font-weight: 100;
        color: $white50;
        margin-bottom: 24px;
        transform: translateY(-8px);
        opacity: 0;
      }

      &__list {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 240px;
      }
    }

    &__link {
      font-family: "chathura";
      font-weight: 100;
      font-size: 48px;
      line-height: 1;
      color: $white;
      text-decoration: none;
      opacity: 0;
      display: inline-block;
      transform: translateY(8px);
      width: fit-content;

      &:hover {
        color: $primary;

        &::before {
          opacity: 1;
        }
      }
    }
  }
}
