.welcome {
  height: 60vh;
  background: $pitchblack;
  box-shadow: 0 -10vh 50px $pitchblack;

  &-content {
    @include container;
  }

  &-title {
    font-family: "chakraPetch";
    text-transform: uppercase;
    font-weight: 700;
    color: $white;
    font-size: 128px;
    text-align: center;
    line-height: 1;

    &__line {
      transform: translateY(100px);
    }

    &--red {
      color: $primary;
    }

    &__epilogue {
      font-weight: 400;
      font-size: 36px;
      margin-top: 16px;
      color: $white80;
    }
  }
}
