@use "./src/app/styles/mixins";

.hero {
  height: 120vh;
  background: url("/assets/images/hero_bg.webp") center/cover no-repeat;

  &__content {
    @include container;
    height: 100vh;
    display: grid;
    place-items: center;
  }

  &__title {
    font-family: "chakraPetch";
    font-weight: 300;
    font-size: 84px;
    line-height: 92px;
    color: $white;
    text-shadow: 0 0 2px $black;

    span {
      color: $primary;
      text-shadow: 0 0 2px $white;
    }
  }
}
